<div *ngIf="router.url != '/'" class="navigation">
  <div (click)="toggleNavigation()">
      <span></span>
      <span></span>
      <span></span>
  </div> 
</div>

<div class="navigation-clicked" *ngIf="navClicked">
  <div (click)="toggleNavigation()">
    <span></span>
    <span></span>
  </div>
  
  <nav>
    <li [routerLink]="['/home']" (click)="toggleNavigation()">Home</li>
    <li>History</li>
    <li>Calendar</li>
    <li [routerLink]="['/']" (click)="toggleNavigation()">Logout</li>
  </nav>
  <div class='dark-overlay'></div>
</div>