/* You can add global styles to this file, and also import other style files */
@import "./variables.scss";

body {
    background-color: $main-dark-color;
    color: $main-light-color;
}

button {
    background-color: $main-light-color;
    color: $main-dark-color;
    border-radius: 6px;
}

input {
    background: $input-color;
    border-radius: 9px;
}